<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Lazy App!</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="isTabActive('home')"><a data-ui-sref="home">Home</a></li>
      <li ng-class="isTabActive('rooms')"><a data-ui-sref="rooms">Rooms</a></li>
      <li ng-class="isTabActive('users')"><a data-ui-sref="users">Users</a></li>
    </ul>
  </div><!-- /.nav-collapse -->
</div><!-- /.container -->
